In [1]:
%matplotlib inline

import sklearn

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

import csv
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, make_scorer, mean_squared_error

C:\Users\Kaiwalya\Anaconda3\envs\stocks\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [43]:
df = pd.read_csv("data.csv")

df.head()

,Make,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,0.0,335.0,6.0,0,0,2.0,0,0,26,19,3916,46135
1,BMW,0.0,300.0,6.0,0,0,2.0,0,1,28,19,3916,40650
2,BMW,0.0,300.0,6.0,0,0,2.0,0,0,28,20,3916,36350
3,BMW,0.0,230.0,6.0,0,0,2.0,0,0,28,18,3916,29450
4,BMW,0.0,230.0,6.0,0,0,2.0,0,1,28,18,3916,34500

In [52]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(df['Make'])
df['Vehicle Style'] = label_encoder.fit_transform(df['Vehicle Style'])

In [65]:
df['Make'] = integer_encoded

In [61]:
df.head(100)

,Make,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,4,0.0,335.0,6.0,0,0,2.0,0,0,26,19,3916,46135
1,4,0.0,300.0,6.0,0,0,2.0,0,1,28,19,3916,40650
2,4,0.0,300.0,6.0,0,0,2.0,0,0,28,20,3916,36350
3,4,0.0,230.0,6.0,0,0,2.0,0,0,28,18,3916,29450
4,4,0.0,230.0,6.0,0,0,2.0,0,1,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,33,1.0,140.0,4.0,0,1,2.0,0,0,28,20,2009,2073
96,33,1.0,155.0,4.0,0,0,2.0,0,0,26,19,2009,3713
97,33,1.0,155.0,4.0,0,0,2.0,0,0,26,19,2009,3520
98,33,1.0,155.0,4.0,0,0,2.0,0,0,26,19,2009,3910
99,33,1.0,155.0,4.0,0,0,2.0,0,0,26,19,2009,4182

In [55]:
df.fillna(1)
features = df
labels = np.array(features['MSRP'])
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.2)
x_train = x_train.drop('MSRP',axis=1)
x_test = x_test.drop('MSRP',axis=1)
reg = LinearRegression()
reg = reg.fit(x_train, y_train)
a = reg.coef_
print(a)
b = reg.intercept_
print(b)
out = reg.predict(x_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').